body {
  background-color: #fff;
  color: #000;
  font: 12pt "Helvetica Neue", "Calibri", "DejaVu Sans", "Helvetica", "Verdana";
  line-height: 1.3em;
}

a:link, a:visited {
  color: #0044b3;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

img {
  border: none;
}

pre, code {
  font: 0.9em "Monaco", "Consolas", "DejaVu Sans Mono", "Courier New", "Courier";
}
pre {
  padding: 0.6em 0.6em 0.6em 0.9em;
  line-height: 1.5em;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
}

h1, h2, h3 {
  padding: 0;
  line-height: 1.25em;
  letter-spacing: 0.03em;
}
h1 {
  font-size: 1.6em;
  margin-top: 0;
  padding-bottom: 0.3em;
}
h2 {
  font-size: 1.3em;
  padding-bottom: 0.3em;
}
h3 {
  font-size: 1.1em;
}

blockquote {
  padding-left: 2em;
  padding-right: 2em;
  margin-left: 0.3em;
  margin-right: 0;
  border-left: 1px solid #3c78b5;
}

ul { 
  list-style-type: disc;
}
ul ul {
  list-style-type: disc;
  padding-left: 1em;
}

table {
  border-spacing: 0;
  width: 100%;
  margin: 0.3em 0 0.3em 0;
}
th, td {
  padding: 0.3em 0.5em 0.3em 0.5em;
  border-bottom: 1px solid #D8D8D8;
  vertical-align: top;
  background-color: #FFFFFF;
}
th, thead td {
  border-bottom: none;
  background-color: #669966;
  color: #ffffff;
  text-align: left;
}


#header, #main, #footer, #sidebar {
}


#header {
  margin: 2em 3em 2em 3em;
  padding: 0;
}
#header .title {
  color: #444;
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}


#sidebar {
  float: right;
  width: 12em;
  margin: 0 3em 0 2em;
  padding: 0;
}
#sidebar ol {
  list-style: none;
  margin:  0 0 0 0;
  padding: 0;
}
#sidebar ol li {
  padding: 0.3em 0 0.6em 0em;
  color: #669966;
  font-weight: bold; 
}
#sidebar ol li ol {
  margin-top: 0.3em;
  padding: 0.3em 0 0.9em 0.9em;
}
#sidebar ol li ol li {
  padding: 0.3em 0 0.3em 0em;
}
#sidebar ol li a  {
  font-weight: normal;
}
#sidebar form {
  margin-top: 2em;
  padding: 0.3em 0 0.5em 0.5em;
}


#main {
  margin: 0 0 0 3em;
  overflow: hidden;
  padding-left: 1.6em;
}
#main h1, #main h2 {
  padding: 0;
  margin: 1.6em 0 0.6em -0.9em;
}

#footer {
  color: #888;
  border-top: 1px solid #ccc;
  margin: 2em 3em 3em 3em;
  padding: 0;
  clear: both;
}
#footer p {
  font-size: 0.9em;
  margin: 0;
}

ol.toc {
  list-style: none;
  padding: 0;
  margin: 0 0 2em 0;
}
ol.toc li {
  padding: 0.3em 0 0.3em 0;
  margin: 0;
}
ol.toc li ol.toc {
  margin: 0;
  padding-left: 0.9em;
}


p.tip, p.note {
  margin: 0.9em 0 0 0;
  padding: 0 0 2em 4em;
}
p.tip { background: url("../images/tip.png") 0 0 no-repeat; }
p.note { background: url("../images/note.png") 0 0 no-repeat; }
 
