<div class='head-sparkline'><span id='sparkline' title="Tasks completed each day in the last month">Loading ...</span></div>
<%= javascript_tag "$('#sparkline').sparkline([#{@datapoints.call.join(',')}], {type:'bar', barColor: '#aaf'})" %>
<ol class='dates hfeed'>
  <% for date, tasks in group_by_dates(@tasks, :updated_at) %>
    <li class='date'>
      <h2><%= date.humanize %></h2>
        <ol class='tasks'> 
          <% for task in tasks %>
            <% content_tag_for 'li', task, :class=>'hentry' do %>
              <%= abbr_time task.updated_at, task.updated_at.strftime('%I:%M%p'), :class=>'updated' %>
              <%= link_to h(task.title), task_url(task), :rel=>'bookmark', :class=>'entry-title', :title=>truncate(strip_tags(task.description), 250) %>
            <% end %>
          <% end %>
        </ol>
    </li>
  <% end %>
</ol>
