<ul id='graphs'>
  <li class='graph'><h3><%= link_to t('.completed.header', :days=>@completed.size), '#' %></h3>
  <div><%= graph @completed.map { |date, count| formatted = l(date, :format=>:month_day)
                                                [formatted, count, t('.completed.hover', :day=>formatted, :count=>count) ] } %></div>
  </li>
  <li class='graph'><h3><%= link_to t('.completed_in.header'), '#' %></h3>
  <div><%= graph @completed_in.map { |hours, count| formatted = t('.completed_in.format') % [hours / 24, hours % 24]
                                                    [formatted, count, t('.completed_in.hover', :hours=>formatted, :count=>count)] } %></div>
  </li>
</ul>
