<% @title = t('.title') %>
<ol class='templates'>
  <% @templates.each do |template| %>
    <% content_tag_for 'li', template do %>
      <h2 class='title'><%= link_to h(template.title), task_url(template) %></h2>
      <div class='description'><%=rich_text template.description %></div>
      <p class='meta'><%=t '.meta', :author=>(template.creator && link_to_person(template.creator)), :published=>l(template.created_at, :format=>:long) %></p>
    <% end %>
  <% end %>
</ol>
