body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: black;
  font: 10pt "Helvetica", "DejaVu Sans", "Verdana";
  position: relative;
}

a { text-decoration: none; color: blue; }
a:hover { color: red; }
a img { border: none; }
abbr { text-decoration: none; border: none; }


/** Form controls **/

fieldset { border: 1pt solid #bbb; padding: 1.6em; margin: 1em; }
fieldset legend { color: #bbb; }

input, textarea, select, button { border: 1px solid #bbb; }
input[type=submit], button { border-bottom: 1px solid #888; border-right: 1px solid #888; }
input:hover, textarea:hover, select:hover, button:hover,
input:focus, textarea:focus, select:focus, button:focus { border: 1px solid #888; }
input[type=submit]:hover, button:hover,
input[type=submit]:focus, button:focus { border-bottom: 1px solid #444; border-right: 1px solid #444; }
input[disabled], select[disabled], textarea[disabled], button[disabled] { border: 1px solid #ccc; }

button, input[type=submit] { font-size: 10pt; background: url('/images/button-bg.png'); padding: 2px 12px 2px 12px; }
button:active, input[type=submit]:active {
  border: 1px solid #444;
  border-bottom: 1px solid #888;
  border-right: 1px solid #888;
  background: url('/images/button-bg-active.png');
}

input[type=text], input[type=password], textarea, select { padding: 0.3em; }
label.watermark { color: #bbb; left: 3pt; }

optgroup { margin-bottom: 0.3em; padding-bottom: 0.3em; border-bottom: 1px solid #ccc; }

form dl { margin: 0 0 1em 0; }
form dl dt { margin: 0.3em 0 0.9em 0; float: left; width: 10em; }
form dl dd { margin: 0 0 0.9em 0; }
form dl dd input[type=radio] { margin: 0.3em 0 0.6em 0.3em; }
