/** Main styles **/

body {
  font: 10pt "Lucida Grande", Helvetica, Sans;
  color: #000;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

abbr {
  text-decoration: none;
  border: none;
}


/** Forms and controls **/

/** Form controls **/

input[type=text], input[type=password], select {
  padding: 0.3em;
  border: 1px solid #ccc;
  width:30em;
}
input[type=text]:hover, input[type=password]:hover, select:hover {
  border: 1px solid #444;
}
input[type=text]:focus, input[type=password]:focus, select:focus {
  border: 1px solid #444;
}
input[type=text][disabled], input[type=password][disabled], select[disabled] {
  border: 1px solid #ccc;
}
option {
}
optgroup {
  margin-bottom: 0.3em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #ccc;
}

form.button-to, form.button-to div {
  display: inline;
}
form.button-to input, a.button-to, button {
  font-size: 1em;
  font-weight: bold;
  border: none;
  padding: 0.3em 0.6em 0.3em 0.6em;
  margin: 0;
  color: #fff;
  background-color: #646060;
  cursor: pointer;
  text-decoration: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 4px;
}
form.button-to input:hover, a.button-to:hover, button:hover {
  border: none;
  color: #fff;
  background-color: #4c4848;
}
form.button-to input[disabled], button[disabled] {
  background-color: #ccc;
  cursor: default;
}

form dl {
  margin: 0 0 1em 0;
}
form dl dt {
}
form dl dd {
  margin: 0.3em 0 1em 0;
}

fieldset {
  border: 2pt solid #ccc;
  padding: 1em;
}

/*
form div.fieldWithErrors {
  color: red;
  display: inline;
}
*/
div#errorExplanation p, div#errorExplanation ul {
  margin: 0;
  list-style: none;
}


/** Header **/

#header {
  background-color: #e0e0e0;
  padding: 0.5em 3em 3px 3em;
  border-bottom: solid 2px #046380;
}
#header h1 {
  font-size: 2.2em;
  font-weight: bold;
  margin: 0 auto 1em auto;
  float: left;
}
#header h1 a {
  color: #000;
  text-decoration: none;
}
#header ul.links {
  list-style: none;
  margin: 0;
  float: right  
}
#header ul.links li {
  display: inline;
  margin: 0;
  padding: 0.5em;
}
#header ul.links li a {
  text-decoration: none;
}

#header ul.tabs {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}
#header ul.tabs li {
  display: inline;
  margin-right: 0.5em;
  padding: 0;
}
#header ul.tabs li a {
  color: #eee;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  background-color: #046380;
  padding: 0.3em 0.6em 0.3em 0.6em;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
}
#header ul.tabs li a:hover {
  background-color: #002f2f;
}
#header ul.tabs li a .counter {
  position: relative;
  top: -1.1em;
  right: -1em;
  font-size: 0.5em;
  margin: 0;
  padding: 0.3em;
  background-color: red;
  -moz-border-radius: 0.3em;
  -webkit-border-top-left-radius: 0.3em;
}

#header ul.alternate {
  list-style: none;
  float: right;
  position: relative;
  margin-top: -1.3em;
  font-size: 1.2em;
}
#header ul.alternate li {
  display: inline;
}
#header ul.alternate a {
  padding-left: 1em;
  text-decoration: none;
}
#header ul.alternate img {
  border: none;
  vertical-align: bottom;
  margin: 0.1em;
}


/** Tasks list **/

#main ol.tasks {
  list-style: none;
  margin: 2em 3.5em 0 3.5em;
  padding: 0;
}
#main ol.tasks li.task {
  border-bottom: 1px solid #ccc;
  margin-bottom: 1.5em;
}
#main ol.tasks li.task .entry-title {
  font-size: 1.2em;
  margin: 0;
}
#main ol.tasks li.task .entry-title.priority_1:before {
  content: '★ ';
  color: red;
}
#main ol.tasks li.task .entry-title.priority_2:before {
}
#main ol.tasks li.task .entry-title.priority_1:before {
}
#main ol.tasks li.task .entry-title.overdue a {
  color: red;
}
#main ol.tasks li.task a {
  text-decoration: none;
}
#main ol.tasks li.task .description {
  color: #222;
}
#main ol.tasks li.task .actions {
  float: right;
}
#main ol.tasks li.task .actions form {
  margin-left: 0.1em;
}
#main ol.tasks li.task p.vitals {
  color: #808080;
}


/** Activities **/

ol.activities {
  list-style: none;
  margin: 2em 3.5em 0 3.5em;
  padding: 0;
}
ol.activities li.day h3 {
  border-bottom: 1px solid #ccc;
}
ol.activities li.activity {
  margin: 0 0 1.0em 0;
}


/** Task bar **/

#task_bar {
  position:absolute;
  width:100%;
  margin:0;
  padding:0;
  border-bottom: solid 2px #046380;
  background-color: #e0e0e0;
}
#task_bar div.summary {
  height:2em;
  padding-top:0.3em;
  padding: 0.5em 3em 3px 3em;
}
#task_bar div.summary h1 {
  margin: 0;
  font-size: 1.5em;
  display: inline;
}
#task_bar div.summary h1 a {
  color: #000;
  text-decoration: none;
}
#task_bar div.summary div.vitals {
  display: inline;
  margin-left: 2em;
}
#task_bar div.summary div.actions {
  display: inline;
  position: absolute;
  right: 3em;
  top: 0.5em;
}
#task_bar div.summary .button-to {
  margin-left: 1em;
}

#task_bar div.expanded {
  clear: both;
  padding: 2em 3em 2em 3em;
  border-top: 1px solid #ccc;
  margin: 0;
}
#task_bar div.expanded a[rel=alternate] {
  float: right;
  padding-left: 1em;
  text-decoration: none;
}
#task_bar div.expanded a[rel=alternate] img {
  border: none;
  vertical-align: bottom;
  margin: 0.1em;
}
#task_bar div.expanded h2 {
  font-size: 1.2em;
  margin: 0 0 1em 0;
}
#task_bar div.expanded div.description {
  margin: 1em 0 1em 0;
}
#task_bar div.expanded dl {
}
#task_bar div.expanded dt {
  font-weight: bold;
  display: inline;
  float: left;
}
#task_bar div.expanded dd {
  margin: 0 0 1em 10em;
}
#task_bar div.expanded ol.activities {
  margin: 0;
  padding: 0;
}
#task_bar div.expanded div.actions {
  text-align: right;
}


iframe#task_frame {
  border:0;
  width:100%;
  height:0;
  padding:0;
  margin:2em 0 0 0;
  background:transparent;
}


/** Footer **/

#footer {
}


/** Login **/
form.login {
  width: 30em;
  margin: 2em auto 2em auto;
}
form.login dl {
  width: 25em;
  margin: 0 auto 0 auto;
}
form.login input {
  width: 100%;
}
