body { position: relative; }

/** Header, footer and such **/

#header {
  width: 65em;
  overflow: hidden;
  font-size: 1.1em;
}
#header ol.sections {
  list-style: none;
  display: block;
  margin: 0 1em 0 1em;
  padding: 0;
  border-bottom: 1px solid #CCC;
}
#header li.section {
  display: table-cell;
  margin: 0;
  padding: 0.6em 0 0.3em 0;
  border: none;
  width: 50%;
}
#header li.section.logo { width: 100px; }
#header li.section.logo a { color: #0644CA;  }
#header li.section.logo a img { margin: 0 20px -3px 0; }
#header li.section.nav { font-weight: bold; }
#header li.section.extra { text-align: right; font-size: 8pt; }
#header li.section ol.tabs { list-style: none; padding: 0.3em 0 0 0; margin: 0 } 
#header li.section li.tab { margin: 0 0 0 0.3em; display: inline; padding: 0; }
#header li.section li.tab a { padding: 0.6em 0.6em 0.2em 0.6em; color: #000; border: 1px solid #fff; }
#header li.section li.tab a:hover { background-color: #ddd; border: 1px solid #eee; }


#main {
  float: left;
  overflow: hidden;
  width: 50em;
  margin: 2em 2em 0 1em;
}


ul#sidebar  {
  list-style: none;
  width: 18em;
  padding: 0;
  margin: 2em 0 0 0;
  color: #444;
  border: 1px solid #fff;
  overflow: hidden;
}
#sidebar li.section {
  font-size: 10pt;
  margin: 0 0 2em 0;
  padding: 0.9em;
}
#sidebar li.section h2 {
  color: #444;
  font-size: 1.1em;
  margin: 0 0 0.6em 0;
  border-bottom: 1px solid #bbb;
}
#sidebar li.section a { color: #4040ff; }
#sidebar li.section a:hover { color: #ff4040; }

#sidebar li.section ol { list-style: none; padding: 0; margin: 0; }
#sidebar li.section li { margin: 0 0 0.6em 0; }
#sidebar li.activity .published { color: #8A8A8A; font-size: 90% }


/** Tasks list **/

table.tasks {
  table-layout: fixed;
  width: 100%;
  border-spacing: 0;
  border-padding: 0;
  border: none;
  padding: 0.6em 1em 2em 1em;
  font-size: 1em;
}
table.tasks thead th {
  text-align: left;
  font-weight: bold;
  padding: 0 0 0.6em 0;
  padding: 0 0.6em 0.6em 0;
  margin: 0;
  border-bottom: 1px solid #bbb;
}
table.tasks tbody tr:hover-disable {
  background-color: #ffffcc;
  padding: 0 1em 0 1em;
}
table.tasks tbody td {
  text-align: left;
  vertical-align: top;
  padding: 0.6em 0.6em 0.6em 0;
  margin: 0;
  border-bottom: 1px solid #eee;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
table.tasks tbody td img { vertical-align: middle; }
table.tasks tbody tr.overdue td, table.tasks tbody .overdue td a { color: #f04040; }
table.tasks tbody tr.completed td, table.tasks tbody tr.completed td a,
table.tasks tbody tr.cancelled td, table.tasks tbody tr.cancelled td a { color: #888; }
table.tasks tbody td .priority_1 { color: #f04040; }
table.tasks td .button-to input { font-size: 0.7em; }

/** Login **/
form.login fieldset {
  width: 35em;
  margin: 2em auto 2em auto;
}
form.login dt {
  width: 8em;
}
