body {
  position: relative;
  overflow: hidden;
}

/** Header, footer and such **/

#header {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.5em;
  width: 100%;
  z-index: 1000;
  line-height: 35px;
  background-color: #005CB8;
  color: #fff;
  overflow: hidden;
}
#header a { color: #fff; }
#header a:hover { color: #cc0000; }
#shadow {
  position: absolute;
  background: url('/images/shadow.png');
  top: 2.5em;
  left: 0;
  width: 100%;
  height: 13px;
  z-index: 999;
  float: left;
}

#header ol.sections {
  list-style: none;
  width: 70em;
  padding: 0;
  margin: 0;
  position: relative;
}
#header li.section {
  display: block;
  float: left;
  height: 100%;
  margin: 0;
  padding: 0 1em 0 1em;
  overflow: hidden;
  border: none;
}
#header li.section.logo {
  text-align: center;
  width: 120px;
  padding: 0;
}
#header li.section.nav {
  border-left: 1px solid #5C9FCF;
  border-right: 1px solid #5C9FCF;
  width: 40em;
}
#header li.section ol.tabs { list-style: none; padding: 0; } 
#header li.section li.tab { padding: 1px 0.6em 0 0; float: left; display: block; }
#header li.section li.tab a { padding: 0 0.6em 0 0.6em; height: 2.2em;  display: block; color: #fff; border: 1px solid #005CB8; }
#header li.section li.tab a:hover { background-color: #5C9FCF; border: 1px solid #4C8FBF; }


#wrapper {
  position: absolute;
  overflow: auto;
  top: 2.5em;
  bottom: 0em;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 2em 4em 0 4em;
}
#main {
}

table.tasks {
