#graphs {
  width: 62em;
}


ul#graphs { margin: 4em 2em 0 2em; width: 63em; overflow: hidden }
ul#graphs li.graph div { height: 150pt; }
ol.bar-graph {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 150pt;
}
ol.bar-graph li {
  float: left;
  width: 28pt;
  margin-right: 3pt;
  position: relative;
  height: 100%;
  text-align: center;
}
ol.bar-graph li span.bar {
  padding-top: 1px;
  width: 100%;
  background-color: #A8A8A8;
  position: absolute;
  bottom: 0;
  left: 0;
}
ol.bar-graph li span.bar span.value {
  line-height: 16pt;
  font-size: 9pt;
  color: #fff;
}
ol.bar-graph li span.legend {
  font-size: 8pt;
  color: #8A8A8A;
  position: absolute;
  bottom: -2em;
  left: 0;
  width: 100%;
}



/** Templates **/

ol.templates {
  list-style: none;
  padding: 0;
  padding: 0.6em 1em 2em 1em;
}
li.template { padding: 0; margin: 0 0 0.9em 0 }
li.template h2 { font-size: 12pt; margin: 0 0 0.3em 0; }
li.template .description { margin: 0 0 0.6em 0; }
li.template .meta { font-size: 9pt; color: #888; margin: 0 }


/** Notifications **/

ol.notifications { list-style: none; margin: 0; padding: 0.6em 0 2em 0;
}
li.notification { margin: 0 0 0.9em 0; }
li.notification .content {
  display: block;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  margin-right: 10em;
}
li.notification h3 { color: blue; font-size: 1em; display: inline; }
li.notification div.description { display: inline }
li.notification .meta { float: right; position: relative; right: 4em; top: -1.3em; font-size: 0.8em; color: #888; }


/** Feed and calendar links **/

ul.alternate {
  margin: 0;
  list-style: none;
  float: right;
  position: relative;
}
ul.alternate li {
  display: inline;
}
ul.alternate a {
  padding-left: 1em;
  text-decoration: none;
}
ul.alternate img {
  border: none;
  vertical-align: bottom;
  margin: 0.1em;
}




/** Chronological list **/

ol.dates {
  font-size: 1.1em;
  list-style: none;
  margin: 4em 2em 0 2em;
  padding: 0;
  width: 63em;
  overflow: hidden;
}
ol.dates li.date {
  padding: 0 0 1.2em 0;
  margin: 0;
}
ol.dates li.date h2 {
  font-size: 1.0em;
  padding: 0 0 0.6em 0;
  margin: 0 0 0.6em 0;
  border-bottom: 1px solid #ccc;
}
ol.dates li.date ol.tasks {
  list-style: none;
  margin: 0;
  padding: 0;
}
ol.dates li.date ol.tasks li.task {
  margin: 0 0 0.6em 0;
}
ol.dates li.date abbr.updated {
  color: #666;
  font-size: 0.7em;
  margin-right: 1.2em;
}


/** Activities **/

ol.activities {
  list-style: none;
  padding: 0;
}
ol.activities li.activity {
  margin: 0 0 0.6em 0;
}
ol.activities li.activity .published {
  color: #666;
  font-size: 0.7em;
  margin-right: 1.2em;
}


/** Navigation **/

div.pagination {
  margin: 0 auto 0 auto;
  text-align: center;
  margin-bottom: 3em;
}
div.pagination a, div.pagination span {
  margin-left: 0.3em;
  padding: 0.1em 0.3em 0.2em 0.3em;
}
div.pagination a {
  border: 1px solid #ccc;
}
div.pagination span {
  border: 1px solid #ccc;
}
div.pagination a:hover {
  color: #fff;
  background-color: #055da4;;
}
div.pagination span.prev_page, div.pagination span.next_page {
  color: #888;
  display: none;
}

/** Footer **/

#footer {
}


div.right {
  float: right;
  margin-right: 3em;
}

/* Nothing semantic about this one, but the sparklines seem to not display properly any other way */
.right-shifted {
  margin: 2em 3.6em -3.2em 0;
  text-align: right;
}
.sparkline {
}



/** Login **/
form.login fieldset {
  width: 35em;
  margin: 2em auto 2em auto;
}
form.login dt {
  width: 8em;
}
