body { overflow: hidden; }
#header li.section.meta {
  width: 40em;
  min-width: 40em;
}
#header li.section.meta.active { }
#header li.section.meta span.title {
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  margin-right: 4em;
}
#header li.section.meta a.dropdown {
  float: right;
  margin-top: -24px;
  width: 32px;
  height: 24px;
  text-align: center;
}
#header li.section.meta a.dropdown img { margin: 0 auto 0 auto; }
#header li.section.actions { width: 15em; padding: 0.3em 0 0 1em; }
#header li.section.actions form, #header li.section.actions form div { display: inline; }

#details {
  display: none;
  position: absolute;
  left: 145px;
  top: 35px;
  z-index: 2000;
  width: 42em;
  padding: 0.3em 1em 0.6em 1em;
  background-color: white;
  border-left: 1px solid #8A8A8A;
  border-right: 1px solid #8A8A8A;
  border-bottom: 1px solid #8A8A8A;
}
#details hr { border: 1px solid #D8D8D8; }
#details ul.meta { list-style: none; padding: 0; }
#details ul.meta li { display: inline; }
#details ul.meta li:before { content: "•"; padding: 0 0.9em 0 0.6em; color: #D8D8D8; }
#details ul.meta li.priority:before { content: ""; padding: 0; }

#details ol.activities { list-style: none; padding: 0; }
#details li.activity { margin-bottom: 0.3em; }
#details li.activity .published { font-size: 90%; color: #8A8A8A; }

#frame {
  position: relative;
  margin: 0;
  padding: 0 0 2em 0;
  height: 98%;
  width: 100%;
  border: none;
  z-index: 10;
}
