<h3><%= link_to h(notification.subject), notification %></h3>
<%= content_tag 'p', t('.also') + link_to(notification.task.title, notification.task), :class=>'task' if notification.task %>
<p class='meta'><%=t '.meta', :published=>l(notification.created_at, :format=>:long),
                              :creator=>(notification.creator && link_to_person(notification.creator)) %></p>
<div class='body'><%= rich_text notification.body %></div>
