<% @title = notification.subject %>
<div class='notification'>
  <div class='expanded'>
    <%= render :partial=>'notification', :object=>notification %>
    <p class='back'><%= link_to "Back to your inbox", notifications_url %></p>
  </div>
</div>
