<ol class='activities'> 
  <% for (task, person, published), related in activities.group_by { |activity| [activity.task, activity.person, activity.created_at] } %>
    <% content_tag_for 'li', related.first, :class=>'hentry' do %>
      <%= format = today && published.to_date < today ? '%b %d' : '%I:%M%p'
          abbr_time published, published.strftime(format), :class=>'published' %>
          <span class='entry-title'><%= activity_as_html person, related, task, :person=>['author'] %></span>
    <% end %>
  <% end %>
</ol>
