<% by_date = group_by_dates(@activities, :created_at) %>
<ol class='dates hfeed'>
  <% for date, activities in by_date %>
    <li class='date'>
      <h2><%= date.humanize %></h2>
      <%= render :partial=>'activities', :locals=>{ :activities=>activities, :today=>nil } %>
    </li>
  <% end %>
</ol>
